# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# --- Java ---
*.class
*.log
*.jar
*.war
*.ear
*.iml

# --- OS ---
# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db

# --- IDEs ---
# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# --- Logs ---
logs/
*.log

# --- Misc ---
*.swp
*.swo

# --- Environment Variables ---
.env